<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.mi.gateway.mapper.PredicateMapper">
    <resultMap id="predicateMap" type="org.mi.gateway.model.Predicate">
        <id property="predicateId" column="predicate_id"/>
        <result property="predicateName" column="predicate_name"/>
        <result property="predicateVal" column="predicate_val"/>
    </resultMap>
</mapper>